@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgb(35, 168, 53);
  color: white;
  height: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-family: "Roboto", sans-serif;
}
nav ul {
  list-style-type: none;
}

.gameContainer {
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 8vw);
  grid-template-rows: repeat(3, 8vw);
  font-family: "Roboto", sans-serif;
  position: relative;
}
.line {
  background-color: black;
  height: 3px;
  width: 24vw;
  position: absolute;
}
.box {
  border: 2px solid black;
  font-size: 6vw;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover {
  background-color: rgb(128, 94, 160);
  cursor: pointer;
}
.info {
  font-size: 20px;
}
.gameInfo {
  padding: 0 30px;
  font-family: "Roboto", sans-serif;
}
.imgbox img {
  width: 0;
  transition: width 1s ease-in-out;
}
.br-0 {
  border-right: 0;
}
.bl-0 {
  border-left: 0;
}
.bt-0 {
  border-top: 0;
}
.bb-0 {
  border-bottom: 0;
}
#reset {
  padding: 5px 34px;
  margin: 0px 20px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .gameContainer {
    flex-wrap: wrap;
  }
  .gameInfo {
    margin-top: 20px;
  }
  .gameInfo h1 {
    font-size: 2.5rem;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(3, 20vw);
  }
}
